aside {
  padding: 24px;
}

.cv-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.accordion {
  width: 100%;
  flex: 0 0 auto;
}

.accordion-switch {
  font-size: 20px;
  font-weight: 800;
}

.accordion-switch:hover {
  cursor: pointer;
}

.accordion-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="date"], textarea {
  width: 300px;
  border: none;
  background-color: #eee;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
}

input[type="date"] {
  max-width: 160px;
}

.accordion-content p {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.accordion-content > button {
  padding: 8px;
  font-size: 16px;
  font-weight: 800;
  color: white;
  background-color: hsl(212, 80%, 72%);
  border: none;
  border-radius: 8px;

  align-self: flex-end;
}

.accordion-content > button:hover {
  background-color: hsl(212, 80%, 75%);
  cursor: pointer;
}

.accordion-content > button:active {
  background-color: hsl(212, 80%, 78%);
}

main {
  box-shadow: inset 8px 0 10px -8px rgb(0, 0, 0);
}
