aside {
  overflow-y: scroll;
  padding: 24px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(155, 155, 155);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(148, 148, 148);
}

aside h1 {
  text-align: center;
  font-size: 28px;
}

.cv-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.accordion {
  width: 100%;
  flex: 0 0 auto;
  display: grid;
  grid-template-rows: min-content 0fr;
  transition: grid-template-rows 0.5s;
}

.selected {
  grid-template-rows: min-content 1fr;
}

.accordion-switch {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: 800;
}

.accordion-switch:hover {
  cursor: pointer;
}

.accordion-switch img {
  height: 28px;
}

.accordion-content {
  margin-top: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.selected .accordion-content {
  padding: 2px;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="date"], textarea {
  width: 100%;
  border: none;
  background-color: #eee;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
}

input[type="date"] {
  max-width: 160px;
}

textarea {
  resize: vertical;
}

.accordion-content p {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.school-header {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 8px;
}

.school-header:hover {
  background-color: #eee;
  cursor: pointer;
}

.school-header:active {
  background-color: #e8e8e8;
}

.school-header p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.school-header img {
  width: 22px;
}

.selected-school .school-header {
  border: 2px solid black;
}

.school-inputs {
  margin: 8px 0;
}

main {
  max-height: 100%;
  box-shadow: inset 8px 0 10px -8px rgb(0, 0, 0);
  padding: 32px;
  place-items: center;
  overflow: hidden;
}

.cv-page {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 400px;
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 17/22;
  box-shadow: 0 0 12px 4px rgb(221, 221, 221);
}

.cv-page header {
  color: white;
  padding: 24px;
  text-align: center;
  background-color: hsl(215, 70%, 57%);
}

.cv-page header h2 {
  font-size: 32px;
}

.cv-page div {
  padding: 32px;
}

.cv-section h3 {
  border-bottom: 2px solid black;
}
